<launch>

  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

  <node pkg="nodelet" type="nodelet" name="nodelet_client" args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager"/>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find unreal_airsim)/cfg/visualization/demo.rviz"/>

</launch>